@media (max-width: 640px) {
    .min-w-full {
      min-width: 100%;
    }
    .sm\:min-w-1\/3 {
      min-width: 100%;
    }
    .lg\:min-w-1\/4 {
      min-width: 100%;
    }
    .absolute {
      display: block;
    }
  }

  /* Add this to your CSS file */

/* Add this to your CSS file */

/* Ensure category items are displayed below the category name on small screens */
@media (max-width: 758px) {
    .category-card {
      flex-direction: column;
    }
  
    .category-card > div {
      width: 100%;
      margin-bottom: 1rem;
    }
  
    .category-card .items-container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .category-card .items-container .item-card {
      width: 100%;
    }
  }
  
  /* Add these styles to your CSS file */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 8px;
  outline: none;
  width: 300px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}


.section {
  opacity: 0;
  transform: translateY(100px);
  transition: all 1s ease-out;
}

.section.visible {
  opacity: 1;
  transform: translateY(0);
}
@keyframes ticker {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}

.ticker-wrapper {
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.ticker-content {
  display: inline-block;
  padding-left: 100%; /* Ensure it starts from the right */
  animation: ticker 450s linear infinite; /* Adjust the duration for desired speed */
  will-change: transform;
}

/* Add these styles to your CSS file */

