@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin {
  animation: spin 3s linear infinite; /* Adjust '3s' for slower or faster spinning */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* Add this to your CSS file */
@keyframes modal-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-modal-slide-up {
  animation: modal-slide-up 0.3s ease-out;
}
