@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-spin {
  animation: spin 3s linear infinite; /* Adjust '3s' for slower or faster spinning */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}




/* Add this to your CSS file */
@keyframes modal-slide-up {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-modal-slide-up {
  animation: modal-slide-up 0.3s ease-out;
}


.slider-wrapper {
  position: relative;
}

.service-slide {
  opacity: 0.5;
  transform: scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.service-slide.active {
  opacity: 1;
  transform: scale(1);
}

.slick-slide {
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.slick-center .service-slide {
  opacity: 1 !important;
  transform: scale(1) !important;
}

.slick-slide:not(.slick-center) .service-slide {
  filter: blur(5px);
  opacity: 0.5 !important;
}
